*~
*.o
*.so

# private files
.vscode
never.code-workspace

# generated
nev
nev.dSYM/
scanner.c
parser.txt
test_freevar
test_gc
test_libmath
test_object
test_scanner
test_symtab
test_vm
test_dlcache

# build
build/
build_js/
build_wasm/
front/parser.h
front/parser.c
front/parser.output
